* {
    box-sizing: border-box;
}

body {
    background-color: #F1EDEA;
    font-family: Veranda, sans-serif;
    margin: 0px;
}

main {
    margin: 20px;
}

h1 {
    text-align: center;
    color: #015A84;
}

h2 {
    text-align: center;
    color: #015A84;
}

h3 {
    text-align: center;
    color: #015A84;
}

h4 {
    text-align: center;
    color: #015A84;
}

.top-nav ul {
    list-style-type: none;
    background-color: #05B084;
    overflow: hidden;
}

.top-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: block;
    text-align: center;
}

.top-nav a:hover{
    background-color: #BADFCD;
}

.top-nav li{
    float: left;
}

.entry{
    background-color: #BADFCD;
    padding: 10px;
    border-radius: 1.5em;
    margin: 10px;
}

.work-history-list {
    background-color: #F1EDEA;
    border-radius: 1.5em;
    padding: 10px;
    list-style-position: inside;
}

.skills-list {
    background-color: #F1EDEA;
    border-radius: 1.5em;
    padding: 10px;
    list-style-position: inside;
}

.languages-list {
    background-color: #F1EDEA;
    border-radius: 1.5em;
    padding: 10px;
    list-style-position: inside;
}

.about-me {
    background-color: #F1EDEA;
    border-radius: 1.5em;
    padding: 10px;
}

.education-blurb {
    background-color: #E0E1DD;
    border-radius: 1.5em;
    padding: 10px;
}

ul {
    background-color: #E0E1DD;
}

.divider {
    border: 3px solid;
    border-radius: 5px;
    color: #05B084;
}

img {
    width: 100%;
}